<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="public/style.css">
</head>
<body>
   
    <div class="container">
        <div class="date">
           <button class="/submit">➕</button>
            <input type="text" name="task" class="yourtask">
            <P>Select Date</P>
            <input type="datetime-local" name="datetime" class="datetime" required>
        </div>
        <div class="task"></div>
    </div>
</body>
</html>